header.bar.bar-nav.j-bar
  a.logo.fa.fa-user-o(href="/user/home")
  form#search_form
    .search
      input.open-popup(type="text",name="keywords",placeholder="请输入搜索关键字：")
      a.fa.fa-search.search-btn(href="javascript:;")
  a.fa.fa-shopping-cart.badget(href="/cart",external)