header.bar.bar-nav
  span.logo
    img(src="images/wap_logo.png")
  form#search_form
    .search
      input.open-popup(type="text",name="keywords",placeholder="请输入搜索关键字：")
      a.fa.fa-search.search-btn(href="javascript:;")
  span.fa.fa-list-ul.badget.open-panel(data-panel="#subfield-panel")