body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
figure,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
em {
  font-style: normal;
}
a {
  color: #5e5e5e;
  text-decoration: none;
}
a:active {
  outline: 0;
}
::-webkit-input-placeholder {
  color: #C3C3C3;
}
:-moz-placeholder {
  color: #C3C3C3;
}
::-moz-placeholder {
  color: #C3C3C3;
}
:-ms-input-placeholder {
  color: #C3C3C3;
}
html,
body {
  width: 100%;
  height: 100%;
}
.login {
  width: 100%;
  height: 100%;
  background: #f7db56;
  position: relative;
}
.login .login-panel {
  width: 300px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -200px;
  margin-top: -150px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  padding: 10px;
}
.login .login-panel .login-inner {
  position: relative;
}
.login .login-panel .login-inner .icon-box {
  width: 100px;
  height: 100px;
  line-height: 90px;
  border-radius: 50%;
  font-size: 46px;
  color: #fff;
  background: #2db463;
  text-align: center;
  position: absolute;
  left: 50%;
  margin-left: -50px;
  margin-top: -50px;
  border: 2px solid #fff;
}
.login .login-panel .login-inner .wrap {
  padding-top: 50px;
  position: absolute;
  -webkit-transform: rotateY(0);
  -moz-transform: rotateY(0);
  -ms-transform: rotateY(0);
  -o-tranform: rotateY(0);
  transform: rotateY(0);
  transform-origin: 0 0;
  transition: all 0.3s;
}
.login .login-panel .login-inner .wrap h2 {
  color: #b3afac;
  font-size: 18px;
  text-align: center;
  margin: 20px;
}
.login .login-panel .login-inner .wrap form {
  text-align: center;
}
.login .login-panel .login-inner .wrap input {
  color: #666;
  width: 250px;
  height: 40px;
  border-radius: 3px;
  background: #eae6e6;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
.login .login-panel .login-inner .wrap button {
  width: 250px;
  height: 40px;
  background: #2db463;
  color: #fff;
  text-align: center;
  font-size: 16px;
  border: none;
  display: block;
  margin: auto;
  border-radius: 3px;
}
.login .login-panel .login-inner .wrap .forgetpwd,
.login .login-panel .login-inner .wrap .newuser {
  display: inline-block;
  color: #999;
  margin-right: 10px;
  margin-top: 20px;
}
.login .login-panel .login-inner .wrap .forgetpwd {
  text-decoration: underline;
}
.login .login-panel .login-inner .rotate {
  -webkit-transform: rotateY(90deg);
  -moz-transform: rotateY(90deg);
  -ms-transform: rotateY(90deg);
  -o-tranform: rotateY(90deg);
  transform: rotateY(90deg);
}
