body,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
figure,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
hr,
button {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}
i {
  font-style: normal;
}
em {
  font-style: normal;
}
a {
  color: #5e5e5e;
  text-decoration: none;
}
a:active {
  outline: 0;
}
::-webkit-input-placeholder {
  color: #C3C3C3;
}
:-moz-placeholder {
  color: #C3C3C3;
}
::-moz-placeholder {
  color: #C3C3C3;
}
:-ms-input-placeholder {
  color: #C3C3C3;
}
* {
  box-sizing: border-box;
}
body {
  background: #fff;
  color: #5e5e5e;
  font: 400 0.7rem/1.5 Arial, sans-serif;
}
body.with-panel-right-reveal .page {
  -webkit-transform: translate3d(-8rem, 0, 0);
  transform: translate3d(-8rem, 0, 0);
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.lf {
  float: left;
}
.rt {
  float: right;
}
.ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.hide {
  display: none !important;
}
.content {
  overflow-x: hidden;
}
.slide-box {
  width: 100%;
  height: auto;
  background: #fff;
  overflow: hidden;
  position: relative;
}
.slide-box .swiper_wrap {
  width: 960px;
  position: absolute;
  left: 0;
  top: 0;
  font-size: 0;
}
.slide-box .swiper_wrap:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.slide-box .swiper_wrap:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.slide-box .wipe_img_con {
  width: 320px;
  float: left;
  -moz-transition: all 0.3s linear 0s;
  -webkit-transition: all 0.3s linear 0s;
  -o-transition: all 0.3s linear 0s;
  transition: all 0.3s linear 0s;
}
.slide-box .wipe_img_con img {
  width: 100%;
}
.qty-box {
  border: 1px solid #bbb;
  border-radius: 3px;
  width: 88px;
  height: 26px;
  line-height: 26px;
  text-align: center;
  margin-bottom: 10px;
}
.qty-box .num-reduce,
.qty-box .num-input,
.qty-box .num-add {
  width: 28px;
  border: none;
  border-radius: 0;
  margin: 0;
  padding: 0;
  height: 100%;
}
.qty-box .num-input {
  display: inline-block;
  border-left: 1px solid #bbb;
  border-right: 1px solid #bbb;
}
.qty-box .num-add {
  font-size: 16px;
  color: #ed4566;
}
input[type=checkbox],
input[type=radio] {
  vertical-align: middle;
  outline: 0;
  color: #424242;
  -webkit-appearance: none;
  -webkit-user-select: text;
}
.ui-btn-pink {
  color: #fff;
  background: #ff5e7a;
  background: -webkit-linear-gradient(top, #ff5e7a, #f24868);
  background: linear-gradient(top, #ff5e7a, #f24868);
}
.ui-btn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  white-space: nowrap;
  border: none;
  padding: 0.3rem 0.6rem;
  font-size: 0.7rem;
  line-height: 1.428;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.ui-checkbox,
.ui-radio {
  width: 20px;
  height: 20px;
  border-width: 0;
  background: url(../../images/icon/checkbox.png) 0 100%;
  background-size: 20px auto;
}
.ui-checkbox:checked,
.ui-radio:checked {
  background-position: 0 0;
}
.ui-confirm .action {
  margin: 0rem;
}
.popup-overlay.modal-overlay-visible {
  visibility: hidden;
  display: none !important;
}
header.bar.header.bar-nav {
  background: #fafafa;
  border-bottom: 1px solid #c9c7c8;
  display: -webkit-flex;
  display: box;
}
header.bar.header.bar-nav .title {
  -webkit-box-flex: 1;
  box-flex: 1;
  text-indent: -2rem;
}
header.bar.header.bar-nav .arr {
  display: inline-block;
  padding: 0 0.75rem;
  height: 100%;
  font-size: 1rem;
  color: #5e5e5e;
  float: left;
}
header.bar.bar-nav {
  font-size: 1rem;
  height: 2.1rem;
  padding: 0;
  background: rgba(0, 0, 0, 0.4);
}
header.bar.bar-nav .logo {
  color: #fff;
  display: inline-block;
  width: 3rem;
  height: 2.1rem;
  line-height: 2.1rem;
  float: left;
  text-align: center;
  overflow: hidden;
}
header.bar.bar-nav .badget {
  color: #fff;
  display: inline-block;
  width: 2.4rem;
  height: 100%;
  line-height: 2.1rem;
  float: right;
  text-align: center;
}
header.bar.bar-nav form {
  position: absolute;
  top: 0;
  left: 3rem;
  right: 2.45rem;
  height: 100%;
  line-height: 2.1rem;
}
header.bar.bar-nav form .search {
  width: 10rem;
  height: 1.45rem;
  border-radius: 0.15rem;
  padding: 0 0.5rem;
  margin: 0 auto;
  position: relative;
  top: 0.35rem;
  background: #fff;
}
header.bar.bar-nav form input {
  display: inline-block;
  border: none;
  width: 100%;
  height: 100%;
  padding: 0.25rem 2.5rem 0.25rem 0;
  background: transparent;
  position: absolute;
  top: 0;
  font-size: 0.6rem;
}
header.bar.bar-nav form .search-btn {
  display: inline-block;
  width: 2.4rem;
  height: 1.4rem;
  border-top-right-radius: 0.15rem;
  border-bottom-right-radius: 0.15rem;
  line-height: 1.4rem;
  background: #fff;
  text-align: center;
  vertical-align: middle;
  border-left: 1px solid #ccc;
  color: #ccc;
  position: absolute;
  right: 0;
}
.content.wrapper {
  top: 0;
}
.activity {
  display: block;
  width: 100%;
  height: 2.05rem;
  overflow: hidden;
}
.activity img {
  width: 100%;
  height: auto;
}
.home .user-nav {
  background: #fff;
  margin-bottom: 0.65rem;
  padding-top: 0.5rem;
}
.home .user-nav .col-25 {
  height: 3rem;
  padding: 0 0.35rem;
  font-size: 0.6rem;
}
.home .user-nav .col-25 img {
  width: 1.8rem;
  height: 1.8rem;
  display: block;
  margin: 0 auto;
}
.home .user-nav .col-25 p {
  color: #555;
  text-align: center;
}
.home .shopin-head {
  text-align: center;
  margin-bottom: 0.5rem;
  position: relative;
}
.home .shopin-head hr {
  width: 100%;
  position: absolute;
  top: 50%;
  z-index: -1;
  border-top: 1px solid #e5e5e5;
}
.home .shopin-head span {
  display: inline-block;
  box-sizing: content-box;
  padding: 0 0.2rem 0 1.2rem;
  font-size: 0.625rem;
  font-weight: normal;
  color: #5e5e5e;
  background: rgba(0, 0, 0, 0) url("../images/red_star.png") no-repeat 0 0;
  background-color: #eee;
  background-position: 0.2rem 0;
  background-size: 0.9rem 0.9rem;
}
.subfield {
  width: 8rem;
  height: 100%;
  background: #fff;
}
.subfield .subfield-wrap {
  width: 100%;
  height: 100%;
  margin: 0;
  position: absolute;
  top: 0;
}
.subfield .subfield-wrap .close-panel {
  position: absolute;
  top: 0.2rem;
  left: 0.2rem;
  display: inline-block;
  width: 0.5rem;
  height: 0.5rem;
  text-align: center;
  line-height: 0.5rem;
  color: #ccc;
}
.subfield .subfield-wrap .subfield-cont {
  margin: 1.5rem 0 0 0.4rem;
}
.subfield .subfield-wrap .subfield-cont li {
  display: inline-block;
  float: left;
  width: 3rem;
}
.subfield .subfield-wrap .subfield-cont a {
  color: #666;
  font-size: 0.6rem;
}
.subfield .subfield-wrap .user-panel {
  width: 100%;
  height: 1.5rem;
  line-height: 1.5rem;
  margin-left: 0.5rem;
  border-top: 1px solid #ccc;
  padding-left: 0.5rem;
  font-size: 0.6rem;
  color: #ff6b9b;
  position: absolute;
  bottom: 0.5rem;
}
.subfield .subfield-wrap .user-panel .fa-user {
  margin-right: 0.1rem;
}
.popup-search {
  padding: 1.5rem 0.5rem;
  background: rgba(0, 0, 0, 0.8);
}
.popup-search .search_box input {
  display: block;
  width: 13.5rem;
  height: 1.345rem;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 0.25rem;
  margin: 0 auto 1.5rem;
}
.popup-search .labels {
  color: #fff;
  line-height: 1;
  background: #fff;
  display: inline-block;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 15px / 50%;
}
.popup-search .labels.red {
  background: #f78783;
}
.popup-search .labels.blue {
  background: #5fbe9e;
}
.popup-search .labels.green {
  background: #abe7b4;
}
.popup-search .labels.yellow {
  background: #f2e247;
}
.wall .wal-list .wall-col {
  width: 50%;
  overflow: hidden;
}
.wall .wal-list .wall-col .wall-item {
  width: 96%;
  margin: 0 2% 2%;
  border: 1px solid #ededed;
  color: #bebebe;
  font-size: 0.6rem;
  background: #fff;
}
.wall .wal-list .wall-col .wall-item .img {
  font-size: 0;
}
.wall .wal-list .wall-col .wall-item .img img {
  width: 100%;
}
.wall .wal-list .wall-col .wall-item p {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.wall .wal-list .wall-col .wall-item .priceattention {
  height: 1rem;
  padding: 0 2%;
}
.wall .wal-list .wall-col .wall-item .price {
  display: inline-block;
  color: #ee4566;
}
.wall .wal-list .wall-col .wall-item .attention {
  line-height: 1rem;
}
.wall .wal-list .wall-col .wall-item .attention i {
  margin: 0.2rem 0.2rem 0 0;
}
.detail .content {
  padding-bottom: 42px;
}
.detail .content .detail-primary {
  background: #fff;
}
.detail .detaile-slide .swiper-page {
  position: absolute;
  bottom: 0.4rem;
  right: 0.6rem;
  width: 2.025rem;
  height: 0.85rem;
  line-height: 0.85rem;
  padding: 0 0.425rem;
  border-radius: 0.425rem;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
}
.detail .break {
  word-break: break-all;
  word-wrap: break-word;
}
.detail .center {
  text-align: center;
}
.detail .primary-info {
  background: #fff;
  border-bottom: 1px solid #eaeaea;
}
.detail .primary-info .info-title {
  color: #424242;
  margin-top: 0.65rem;
  text-align: center;
}
.detail .primary-info .info-desc {
  color: #999;
  padding: 0 0.6rem;
  text-align: center;
  margin-top: 0.35rem;
}
.detail .primary-info .info-price {
  margin-top: 0.25rem;
}
.detail .primary-info .info-price .now {
  color: #000;
  font-size: 0.95rem;
}
.detail .primary-info .info-price .market {
  font-size: 0.6rem;
  color: #999;
  margin: 0.3rem 0 0 0.3rem;
}
.detail .primary-info .info-price .discount {
  background: #f13e3a;
  color: #fff;
  font-size: 0.6rem;
  padding: 0 0.2rem;
  margin-left: 0.3rem;
}
.detail .primary-info .info-other {
  margin: 0.85rem 0.65rem 0.65rem;
}
.detail .primary-info .info-other .item {
  display: inline-block;
  width: 4.1rem;
  font-size: 0.6rem;
  color: #999;
}
.detail .primary-info .info-other .item:first-child {
  border-right: 1px solid #dbdbdb;
}
.detail .detail-rates {
  background: #fff;
  margin-top: 0.5rem;
  padding: 0 0.6rem;
  border-bottom: 1px solid #dedede;
}
.detail .rates-head {
  border-bottom: 1px solid #dcdcdc;
}
.detail .rates-head a.title {
  position: static;
  color: #000;
  font-size: 0.65rem;
  text-align: left;
  line-height: 1;
  padding: 0.85rem 0 0.65rem;
  margin: 0;
}
.detail .rates-head a.title .more {
  float: right;
  color: #666;
  font-size: 0.6rem;
}
.detail .rates-head a.title .more .fa {
  font-size: 0.7rem;
  margin-left: 0.25rem;
}
.detail .rates-list .rate-item {
  padding-top: 0.65rem;
}
.detail .rates-list .rate-item .avatar {
  width: 2.46rem;
  height: 2.46rem;
  border-radius: 50%;
  vertical-align: middle;
}
.detail .rates-list .rate-item .name {
  margin-left: 0.43rem;
  color: #424242;
}
.detail .rates-list .rate-item .rate-cont {
  color: #727272;
  font-size: 0.65rem;
  line-height: 1.1;
  margin-top: 0.2rem;
}
.detail .rates-list .rate-item .time,
.detail .rates-list .rate-item .sku {
  font-size: 0.6rem;
  color: #999;
}
.detail .rates-list .rate-item .sku {
  margin-left: 0.3rem;
}
.detail .rates-list .rate-item .show-img .small-img {
  float: left;
  margin: 0 0.1rem 0.1rem 0;
  width: 2.9rem;
  height: 2.9rem;
  overflow: hidden;
}
.detail .rates-list .rate-item .show-img .small-img img {
  width: 100%;
}
.detail .detail-tabpanel {
  background: #fff;
  margin-top: 0.35rem;
  border-top: 1px solid #dedede;
}
.detail .detail-tabpanel .buttons-row {
  font-size: 0.65rem;
  text-align: center;
  background: #fff;
  width: 100%;
}
.detail .detail-tabpanel .buttons-row a.col-50 {
  color: #333;
  display: inline-block;
  padding: 0.4rem 0;
  border-bottom: 1px solid transparent;
}
.detail .detail-tabpanel .buttons-row a.col-50.actve {
  border-bottom: 1px solid #f13e3a;
}
.detail .detail-tabpanel .buttons-row a.col-50 span {
  display: inline-block;
  width: 100%;
  border-right: 1px solid #e5e5e5;
}
.detail .detail-tabpanel .buttons-row a.col-50:nth-child(2n) span {
  border: none;
}
.detail .detail-tabpanel .tabs {
  overflow-x: hidden;
}
.detail .detail-tabpanel .graphic {
  padding: 0 0.25rem;
}
.detail .detail-tabpanel .graphic .pic-title {
  font-size: 0.62rem;
  color: #333;
  margin: 0.5rem 0;
}
.detail .detail-tabpanel .graphic .pic-list {
  overflow-x: hidden;
}
.detail .detail-tabpanel .graphic .pic-list img {
  width: 100%;
}
.detail .detail-tabpanel .parameters {
  padding: 0 0.5rem;
}
.detail .detail-tabpanel .parameters table {
  width: 100%;
  table-layout: fixed;
  border-collapse: collapse;
}
.detail .detail-tabpanel .parameters table tr {
  border-bottom: 1px solid #f4f4f4;
  color: #727272;
}
.detail .detail-tabpanel .parameters table td {
  line-height: 1.9rem;
  text-align: left;
}
.detail .detail-tabpanel .parameters table .param-name {
  width: 5rem;
}
.detail .detail-tabpanel .parameters table .param-info {
  color: #eb4868;
}
.detail .detail-footbar {
  position: absolute;
  bottom: 0;
  left: 0;
  font-size: 0;
  width: 100%;
  height: 42px;
  border: 1px solid #dcdcdc;
  background: #fff;
  overflow: hidden;
}
.detail .detail-footbar .footer-fav,
.detail .detail-footbar .footer-cart {
  display: inline-block;
  width: 2.9rem;
  height: 2.1rem;
  text-align: center;
}
.detail .detail-footbar .footer-fav .text,
.detail .detail-footbar .footer-cart .text {
  display: block;
  line-height: 0.8;
  font-size: 0.6rem;
  margin-top: 0.1rem;
}
.detail .detail-footbar .footer-fav .fa,
.detail .detail-footbar .footer-cart .fa {
  font-size: 0.9rem;
  margin-top: 0.2rem;
}
.detail .detail-footbar .footer-fav {
  border-right: 1px solid #dcdcdc;
}
.detail .detail-footbar .footer-buy {
  display: inline-block;
  height: 2.1rem;
  float: right;
  margin-right: 0.5rem;
}
.detail .detail-footbar .footer-buy span {
  display: inline-block;
  font-size: 0.6rem;
  width: 4.1rem;
  height: 1.35rem;
  line-height: 1.35rem;
  text-align: center;
  margin: 0.3rem 0 0 0.5rem;
}
.detail .detail-footbar .footer-buy .buy-cart {
  color: #ec312d;
  border: 1px solid #ec312d;
}
.detail .detail-footbar .footer-buy .buy-now {
  color: #fff;
  background: #ec312d;
}
.mask {
  display: none;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
}
.pop {
  text-align: left;
  color: inherit;
  font-size: 0.6rem;
  display: block;
  opacity: 1;
  width: 100%;
  height: auto;
  max-height: 75%;
  background: #fff;
  position: absolute;
  bottom: 0;
}
.pop .modal-header {
  padding: 15px 0;
  display: -webkit-box;
  display: box;
  position: relative;
  border-bottom: 1px solid #ccc;
}
.pop .modal-header .close_icon {
  color: #bbb;
  font-family: serif;
  position: absolute;
  right: 0;
  top: 0;
  line-height: 50px;
  width: 35px;
  height: 35px;
}
.pop .modal-header .subtitle-img {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  -webkit-box-flex: 1;
  box-flex: 1;
  overflow: hidden;
  margin-left: 15px;
}
.pop .modal-header img {
  width: 100%;
}
.pop .modal-header .subtitle-desc {
  margin: 0 35px 0 10px;
  -webkit-box-flex: 1;
  box-flex: 1;
  position: relative;
}
.pop .modal-header .subtitle-text {
  display: -webkit-box;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}
.pop .modal-header .info-price {
  position: absolute;
  bottom: 0;
}
.pop .modal-header .pirce {
  color: red;
}
.pop .modal-header .stock {
  margin-left: 10px;
}
.pop .modal-content {
  font-size: 14px;
  padding: 0 10px;
}
.pop .condiction {
  margin-top: 10px;
}
.pop .condiction label {
  display: block;
}
.pop .condiction .block {
  display: inline-block;
  font-size: 12px;
  line-height: 26px;
  border-radius: 3px;
  padding: 0 15px;
  margin-right: 10px;
  border: 1px solid #bbb;
}
.pop .condiction .selected {
  color: #ed4566;
  border-color: #ed4566;
}
.pop .modal-footer {
  border-top: 0.5px solid #ccc;
  height: 40px;
  text-align: center;
  width: 100%;
  display: -moz-box;
  display: -webkit-box;
  display: box;
  -webkit-box-align: center;
  -webkit-box-pack: center;
}
.pop .modal-footer .button {
  color: #fff;
  width: 30%;
  padding: 0 12px;
  border-radius: 3px;
  border: none;
  background: #ff5e7a;
  background: -webkit-linear-gradient(top, #ff5e7a, #f24868);
  background: linear-gradient(top, #ff5e7a, #f24868);
}
.cart .cart-goods {
  padding: 10px;
}
.cart .ui-list {
  background: #fff;
}
.cart .ui-list-item {
  position: relative;
  min-height: 4.1rem;
  padding: 0.5rem 0.25rem 0.5rem 2rem;
  display: -webkit-box;
  display: box;
}
.cart .ui-list-item .ui-checkbox {
  position: absolute;
  left: 0.25rem;
  top: 40%;
}
.cart .cart-goods-pic {
  float: left;
  width: 3.1rem;
  height: 3.1rem;
  padding: 2px;
  border: 1px solid #e2e2e2;
  position: relative;
}
.cart .cart-goods-pic img {
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: middle;
}
.cart .cart-goods-des {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0 0.5rem;
}
.cart .cart-goods-price {
  width: 1.9rem;
  text-align: right;
  position: relative;
}
.cart .cart-goods-dustbin {
  display: block;
  position: absolute;
  bottom: 0.4rem;
  right: 0;
}
.cart .cart-goods-name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  margin-top: -3px;
  height: 0.85rem;
}
.cart .cart-goods-sku {
  font-size: 0.5rem;
  color: #999;
  height: 1rem;
}
.cart .cancle {
  border: 1px solid #ccc;
  margin-right: 0.5rem;
}
.cart-checkout {
  position: absolute;
  bottom: 0;
  background: #fff;
  width: 100%;
  height: 2.5rem;
  display: -webkit-box;
  display: box;
  border: 1px solid #d8d8d8;
  padding: 0.5rem 0.75rem;
}
.cart-checkout .cart-checkbox {
  width: 28%;
  line-height: 31px;
}
.cart-checkout .cart-checkbox label {
  margin-left: 5px;
  vertical-align: middle;
  font-size: 16px;
}
.cart-checkout .cart-counter {
  line-height: 28px;
}
.cart-checkout .cart-counter .total-price {
  color: #ee4566;
}
.cart-checkout .ui-btn-pink {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  padding: 6px 20px;
}
.ui-modal {
  display: none;
  width: 10.12rem;
  background: #fff;
  border-radius: 3px;
  padding: 0.5rem 0.25rem;
  position: absolute;
  z-index: 99999;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.ui-modal .content-p {
  color: #333;
  text-align: center;
  padding: 0.5rem;
}
.ui-modal .action {
  min-height: 34px;
  text-align: center;
}
.mask {
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 99998;
  background: rgba(0, 0, 0, 0.5);
}
.search-page {
  padding-top: 2.2rem;
}
/* creat_order list */
.create_order .address {
  background: #fff;
}
.create_order .inner {
  display: -webkit-box;
  display: box;
  height: 2rem;
  padding: 0.5rem;
  box-sizing: content-box;
}
.create_order .inner .addr_detail {
  -webkit-box-flex: 1;
  box-flex: 1;
}
.create_order .inner .location_icon,
.create_order .inner .edit_addr {
  width: 0.8rem;
  line-height: 2rem;
}
.create_order .inner .open-popup {
  display: block;
  width: 100%;
  height: 2rem;
  line-height: 2rem;
}
.create_order .ui-list {
  background: #fff;
}
.create_order .ui-list .ui-list-item {
  position: relative;
  min-height: 4.1rem;
  padding: 0.5rem 0.25rem;
  display: -webkit-box;
  display: box;
}
.create_order .ui-list .cart-goods-pic {
  float: left;
  width: 3.1rem;
  height: 3.1rem;
  padding: 2px;
  border: 1px solid #e2e2e2;
  position: relative;
}
.create_order .ui-list .cart-goods-pic img {
  width: 2.8rem;
  height: 2.8rem;
  vertical-align: middle;
}
.create_order .ui-list .cart-goods-des {
  -webkit-box-flex: 1;
  box-flex: 1;
  padding: 0 0.5rem;
}
.create_order .ui-list .cart-goods-price {
  width: 1.9rem;
  text-align: right;
  position: relative;
}
.create_order .ui-list .name {
  width: 100%;
  font-size: 14px;
  font-weight: normal;
}
.create_order .ui-list .color,
.create_order .ui-list .size {
  font-size: 12px;
  color: #5e5e5e;
}
.create_order .ui-list .piece {
  display: block;
}
.create_order .footer .pieces_count {
  line-height: 1;
}
.popup-address {
  background: #f5f5f5;
}
.popup-address .content-block {
  padding: 0;
}
.popup-address .edit_default {
  height: 1rem;
  padding: 0.5rem;
  box-sizing: content-box;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
}
.popup-address .header.bar.bar-nav {
  background: #fff;
}
.popup-address .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 2rem;
  background: #fff;
}
.popup-address .footer .new_address {
  color: #fff;
  text-align: center;
  display: block;
  width: 6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background: #fe406e;
  margin: 0.25rem auto 0;
}
.popup-new .header .title,
.popup-address .header .title {
  margin: auto;
  position: static;
}
.popup-new .content-block,
.popup-address .content-block {
  margin: 2.1rem 0;
}
.popup-new .title_right,
.popup-address .title_right {
  font-size: 0.7rem;
  width: 2rem;
  line-height: 2rem;
  margin-right: 0.5rem;
}
