.right{
  float: right;
}
label[for="user_id"]{
  margin-right: 20px;
}
#user_id{
  display: inline-block;
  width: 40%;
}
.user-list tr td:last-child{
  width: 35%;
}
.form-wrapper{
  display: none;
  overflow: hidden;
  transition: all 200ms;
  border-left: 1px solid #ccc;
  padding-left: 20px;
}
.form-wrapper button{
  margin-left: 20px;
}
.form-wrapper .user_id{
  display: inline-block;
  width: 196px;
}

// 详情页
.details .price{
  display: block;
}
.img-wrapper{
  overflow: hidden;
  max-height: 400px;
}
.img-wrapper .img{
  width: auto;
  height: 100%;
}
.details input{
  display: block;
  margin: 20px 0;
}