.productlist .head {
  margin: 15px 0 19px;
  position: relative;
}
.productlist .head h3 {
  font-size: 14px;
  font-weight: normal;
  display: inline-block;
}
.productlist .head .newpdt {
  display: inline-block;
  width: 136px;
  height: 32px;
  border-radius: 3px;
  line-height: 32px;
  text-align: center;
  color: #fff;
  background: #4285f4;
  position: absolute;
  right: 0;
  bottom: 0;
}
.productlist .head .newpdt .fa {
  margin-right: 6px;
}
