.popup.popup-search
  .search_box
    input(type="text",placeholder="请输入搜索关键词")
  .class_pannel.j_class_pannel
    a.labels.red(href="") 连衣裙
    a.labels.blue(href="") 半身裙
    a.labels.green(href="") T恤