/* creat_order list */
.create_order{
  .address.default .default-label{
    display: inline;
  }
  .default-label{
    display: none;
    color: #fff;
    font-size: 0.6rem;
    padding: 0.1rem 0.2rem;
    border-radius: 3px;
    background: #fe406e;
  }
  .address{
    background: #fff;
  }
  .inner{
    display: -webkit-box;
    display: box;
    height: 2rem;
    padding: 0.5rem;
    box-sizing: content-box;
    .addr_detail{
      -webkit-box-flex:1;
      box-flex: 1;
    }
    .location_icon,.edit_addr{
      width: 0.8rem;
      line-height: 2rem;
    }
    .open-popup{
      display: block;
      width: 100%;
      height: 2rem;
      line-height: 2rem;
    }
  }
  .ui-list{
    background: #fff;
    .ui-list-item{
      position: relative;
      min-height: 4.1rem;
      padding: 0.5rem 0.25rem;
      display: -webkit-box;
      display: box;
    }
    .cart-goods-pic{
      float: left;
      width: 3.1rem;
      height: 3.1rem;
      padding: 2px;
      border: 1px solid #e2e2e2;
      position: relative;
      img{
        width: 2.8rem;
        height: 2.8rem;
        vertical-align: middle;
      }
    }
    .cart-goods-des{
      -webkit-box-flex:1;
      box-flex: 1;
      padding: 0 0.5rem;
    }
    .cart-goods-price{
      width: 1.9rem;
      text-align: right;
      position: relative;
    }
    .name{
      width: 100%;
      font-size: 14px;
      font-weight: normal;
    }
    .color,.size{
      font-size: 12px;
      color: #5e5e5e;
    }
    .piece{
      display: block;
    }
  }
  .footer{
    .pieces_count{
      line-height: 1;
    }
  }
}

.order_list{
  .all-order{
    padding-top: 2rem;
  }
  .orders-item{
    font-size: 0.6rem;
    margin-top: 0.5rem;
    background: #fff;
  }
  .item-head{
    border-bottom: 1px solid #e5e5e5;
    height: 1.5rem;
    line-height: 1.5rem;
    padding: 0 0.5rem;
  }
  .order-id{
    color: #9a9a9a;
    float: left;
  }
  .order-status{
    float: right;
  }
  .order{
    padding: 0.5rem;
    padding-left: 3.5rem;
    border-bottom: 1px solid #e5e5e5;
    position: relative;
    display: -webkit-flex;
    display:-moz-box; /* Firefox */
    display:-webkit-box; /* Safari and Chrome */
    display:box;
    .msg{
      width: 2rem;
    }
  }
  .order-img{
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    width: 2.7rem;
    height: 2.7rem;
    overflow: hidden;
    img{
      width: 100%;
    }
  }
  .order-desc{
    -webkit-box-flex: 1;
    box-flex: 1;
  }
  .item-footer{
    padding: 0.75rem 0.5rem ;
    .sum{
      text-align: right;
    }
    em{
      color: #383838;
      font-size: 0.7rem;
    }
    .operate{
      float: right;
      height: 1.3rem;
      margin-top: 0.5rem;
    }
    .red-btn{
      color: #e94e7a;
      padding: 0.25rem 0.75rem;
      border-radius: 1rem;
      border: 1px solid #e94e7a;
      margin: 0 0.25rem;
    }
  }
}