doctype
html
  head
    meta(charset="utf-8")
    title SHOPIN
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet",href="/style/bootstrap.min.css")
    link(rel="stylesheet",href="/style/font-awesome.min.css")
    link(rel="stylesheet",href="/style/admin.css")
  body
    .container-fluid.login
      .login-panel
        .login-inner
          .icon-box
            .fa.fa-user
          if page == 'login'
            .login-wrap.wrap
              h2 登录
              form(method="POST",action="/user/signin")
                input.username(name="user[name]",type="text",placeholder="登录邮箱",autofocus)
                input.pwd(name="user[password]",type="password",placeholder="密码")
                button(type="submit") 登录
                a.forgetpwd(href="") 忘记密码
                a#newuser.newuser(href="javacript:;") 注册
            .signup-wrap.wrap.rotate
              h2 注册
              form(method="POST",action="/user/signup")
                input.username(name="user[name]",type="text",placeholder="注册邮箱")
                input.pwd(name="user[password]",type="password",placeholder="密码")
                input.repwd(type="password",placeholder="重复密码")
                button(type="submit") 注册
                a#login.newuser(href="javacript:;") 登录
          else
            .login-wrap.wrap.rotate
              h2 登录
              form(method="POST",action="/user/signin")
                input.username(name="user[name]",type="text",placeholder="登录邮箱")
                input.pwd(name="user[password]",type="password",placeholder="密码")
                button(type="submit") 登录
                a.forgetpwd(href="") 忘记密码
                a#newuser.newuser(href="javacript:;") 注册
            .signup-wrap.wrap
              h2 注册
              form(method="POST",action="/user/signup")
                input.username(name="user[name]",type="text",placeholder="注册邮箱")
                input.pwd(name="user[password]",type="password",placeholder="密码")
                input.repwd(type="password",placeholder="重复密码")
                button(type="submit") 注册
                a#login.newuser(href="javacript:;") 登录
    include ../includes/admin-footer
    script.
      $(function(){
        $('#newuser').on('click',function(e){
          e.preventDefault();
          console.log('hahha');
          $('.login-wrap').addClass('rotate');
          $('.signup-wrap').removeClass('rotate');
        });
        $('#login').on('click',function(e){
          e.preventDefault();
          console.log('hahha');
          $('.login-wrap').removeClass('rotate');
          $('.signup-wrap').addClass('rotate');
        });

        //- validate
      })
