.modal.fade#clip
  .modal-wrapper.modal-dialog.modal-lg
    .modal-header
      h3 新建书籍
    .modal-content
      img#target(src="")
    .modal-footer
      button.next.disabled(type="submit") 确定
      button.cancle(data-dismiss="modal") 取消