extends ../../adminLayout

block content
  h2 分类管理
  .wrapper
    .productlist.section
      .head
        h3 商品活动（共件）
        a.newpdt(href="/admin/activity/detail")
          i.fa.fa-plus
          | 添加活动
      table
        thead
          tr
            td 活动海报
            td 连接
            td 操作
        tbody.j-product-list
          each activity,index in activities
            tr.j-productItem
              td
                .imgbox
                  img(src="#{activity.pic}")
              td
                a(href="/activity/#{activity._id}")
              td(data-id="#{activity._id}")
                a.edit(href="javascript:void(0);") 编辑
                a.delete.j-delete(href="javascript:void(0);") 删除


block scripts
  script.
    $(function(){
      delete_operation('/admin/activity/delet','.j-product-list');
    })