.modal.fade#new
  .modal-wrapper.modal-dialog
    .modal-header
      h3 新建书籍
      a.close(href="javascrip:;",data-dismiss="modal")
        i.fa.fa-close
    .modal-content
      form#newproduct(action="/admin/product/new",method="POST",enctype="multipart/form-data")
        .form-group
          label(for="name") 商品名称*
          .input-box
            input#name.required(type="text",name="product[name]")
        .form-group
          label(for="price") 价格*
          .input-box
            input#price.required.rqrednum(type="text",name="product[price]")
        .form-group
          label(for="discount") 折扣
          .input-box
            input#discount.rqrednum(type="text",name="product[discount]",placeholder="1-10")
        .size-box.j-form-box
          .form-group
            label 尺寸*
            .input-box
              input.required.size.sizetext(type="text",name="product[size]")
            a.newsize.j-newInput(href="javascrip:void(0);",data-name="size")
              i.fa.fa-plus
              | 添加尺寸
        .size-box.j-form-box
          .form-group
            label 颜色
            .input-box
              input.required.size.sizetext(type="text",name="product[color]")
            a.newsize.j-newInput(href="javascrip:void(0);",data-name="color")
              i.fa.fa-plus
              | 添加颜色
        .form-group
          label(for="stock") 库存*
          .input-box
            input#stock.required.rqrednum(type="text",name="product[stock]")
        .form-group.textarea
          label(for="dest") 库存*
          .input-box.area-box
            textarea#dest.required.rqrednum(type="text",name="product[dest]")
        .form-group.uploadPic-form
          label 图片*
          .pic-wrap
          a.newpic(href="javascrip:void(0);")
            i.fa.fa-plus
          input.required.hide(type="file",name="product[pics]",accept="image/*")
    .modal-footer
      button.next.disabled(type="submit") 确定
      button.cancle 取消