extends ../../adminLayout

block content
  //- .header
  h2 商品管理
  div.wrapper
    .productlist.section
      .head
        h3 商品资源（共555件）
        a.newpdt(href="javascript:void(0);",data-toggle="modal",data-target="#new")
          i.fa.fa-plus
          | 添加商品
      table
        thead
          tr
            td 图片
            td 商品名称
            td 商品分类
            td 创建时间
            td 操作
        tbody
          tr
            td
              .imgbox
                img(src="")
            td 短袖圆领白衬衫
            td
              span 夏季
              span 衬衫
            td 2016/5/23
            td
              a.edit(href="javascript:void(0);") 编辑
              a.delete(href="javascript:void(0);") 删除
  include new-product
block scripts
  script#newsize(type="text/tmpl").
    <div class="form-group">
      <label></label>
      <input class="sizetext" type="text" name="">
      <a href="javascript:void(0);" class="delete">
        <i class="fa fa-trash"></i>
      </a>
    </div>
  script.
    $(function(){
      $('.newsize').on('click',function(){
        var newsize = $($('#newsize').html());
        newsize.find('input').attr('name','product[size]')
        $('.size-box').append(newsize);
      });
      $('.size-box').on('click','.delete',function(){
        $(this).parent().remove();
      });

      function uploadPic(){
        function checkType(picPath){
          //- console.log($this);
          //- var picPath = $($this).value;
          //- console.log(picPath);
          var type = picPath.substring(picPath.lastIndexOf('.')+1,picPath.length).toLowerCase();
          if( type != 'jpg' && type != 'bmp' && type != 'gif' && type != 'png'){
           return false;
          }
          return true;
        }
        function previewPic(picURL,$this){
          var type = checkType(picURL);
          var prevDiv = $('.pic-wrap');
          if(type){
            if( $this.context.files && ($this.context.files)[0] ){
              var reader = new FileReader();
              reader.onload = function(evt){
                var newImg = $('<img src="'+evt.target.result+'" />');
                prevDiv.append(newImg);
              }
              reader.readAsDataURL(($this.context.files)[0]);
            }else{
              prevDiv.append('<div class="img" style="filter:progid:DXImagesTransform.Microsoft.AlphaImageLoader(sizingMethod=scale,src=\''+file.value+'\'"></div>');
            }
          }
        }
        $('.newpic').on('click',function(){
          var file = $('input[type="file"]');
          if(file.length == 1){
            file.trigger('click');
          }else{
            $(file[1]).trigger('click');
          }
        });
        $(document).on('change','input[type="file"]',function(){
          var self = $(this);
          previewPic(self.val(),self);
          var newpic = $('<input type="file" name="picture" accept="image/*" class="hide" />')
          self.parent().append(newpic);
        });
      }
      uploadPic();
      $('.next').on('click',function(){
        $('#newproduct').trigger('submit');
      })
    })