extends ../../layout

block content
  .page.homepage
    header.head-block.bar.bar-nav.header
      a.arr(href="javascript:history.back();")
        i.fa.fa-angle-left
      h1.title 我的主页
    .home-header
      .portrait
        img(src="#{user.headimgurl}")
      p.name.ellipise #{user.nickname}
    .application
      ul
        li.line
          a.block.paying(href="/order?status=待付款")
            i.fa.fa-credit-card
            p 待付款
            .tips 10
          a.block.delivery(href="/order?status=待发货")
            i.fa.fa-archive
            p 待发货
          a.block.receiving(href="/order?status=待收款")
            i.fa.fa-archive
            p 待收货
            .tips 10
        li.line
          a.block.evaluate(href="/order?status=待评价")
            i.fa.fa-commenting-o
            p 待评价
            .tips 10
          a.block.return(href="/returns/list")
            i.fa.fa-retweet
            p 退货退款
            .tips 10
          a.block.order(href="/order")
            i.fa.fa-gift
            p 全部订单
            .tips 10