.modal.fade#new
  .modal-wrapper.modal-dialog
    .modal-header
      h3 新建书籍
      a.close(href="javascrip:;",data-dismiss="modal")
        i.fa.fa-close
    .modal-content
      form#newproduct(action="/service/new",method="POST")
        .form-group
          label(for="name") 登录账号*
          .input-box
            input#name.required(type="text",name="service[kf_account]",placeholder="test@test.com")
            label @gh_c2f1e87fd5ab
        .form-group
          label(for="price") 昵称*
          .input-box
            input#price.required.rqrednum(type="text",name="service[nickname]")
        .form-group
          label(for="discount") 密码*
          .input-box
            input#discount.required(type="text",name="service[password]",placeholder="1-10")
    .modal-footer
      button.next.disabled(type="submit") 确定
      button.cancle 取消