@import 'mixin.less';
html,body{
  width: 100%;
  height: 100%;
}
body{
  background-color: #eceff2;
}
header{
  width: 100%;
  height: 70px;
  line-height: 60px;
  background: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #d9dadc;
  margin-bottom: 20px;
  .inner{
    width: 1170px;
    margin: 0 auto;
  }
  .title{
    display: inline-block;
    .logo{
      display: inline-block;
      font-size: 36px;
      color: #d06868;
      font-weight: bold;
    }
    .name{
      font-size: 16px;
      color: #262525;
      font-weight: bold;
      margin-left: 8px;
    }
  }
  .user{
    display: inline-block;
    float: right;
    .username{
      color: #262525;
      margin-right: 20px;
      &:hover{
        text-decoration: none;
      }
    }
    .logout{
      color: #12a3ee;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
.container{
  width: 1170px;
  border: 1px solid #e5e5e5;
  padding: 0;
  .clearfix();
  .sidebar{
    width: 210px;
    background: #fff;
    height: 600px;
    float: left;
    border-right: 1px solid #e5e5e5;
    .nav{
      margin-top: 35px;
      li{
        width: 100%;
        height: 38px;
        &.active{
          border-left: 4px solid #4285f4;
          cursor: pointer;
          a{
            background: #fafbfc;
            color: #4285f4;
          }
        }
        a{
          border-radius: 0;
          text-indent: 20px;
          margin: 0;
          color: #5a626d;
          &:hover{
            background: #fff;
          }
        }
      }
    }
  }
  .main{
    background: #fff;
    margin-left: 150px;
    .clearfix();
  }
}