.mask.j-popup
  .pop.add_to_cart
    .modal-header
      i.icon.close_icon.j-close ╳
      .subtitle-img
        img(src="#{product.pics[0]}")
      .subtitle-desc
        p.subtitle-text #{product.name}
        .info-price
          span.pirce  &yen;#{product.price * product.discount/10}
          span.stock 库存#{product.stock}件
    .modal-content
      .condiction.j-style(data-rules="single")
        label 颜色：
        span 黑白套装
        span 灰白套装
      .condiction.j-style(data-rules="single")
        label 尺寸
        span S
        span M
        span L
      .condiction
        label 数量：
        .qty-box
          span.num-reduce.lf.j-reduct -
          em.num-input.lf.j-num 1
          span.num-add.lf.j-add +
    .modal-footer
      span.button.j-confirm 确认