html,
body {
  width: 100%;
  height: 100%;
}
body {
  background-color: #eceff2;
  font-family: 'Microsoft YaHei', sans-serif;
}
.show {
  display: block !important;
}
.hide {
  display: none !important;
}
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.right {
  float: right;
}
header {
  width: 100%;
  height: 70px;
  line-height: 60px;
  background: #fff;
  padding: 0 20px;
  border-bottom: 1px solid #d9dadc;
  margin-bottom: 20px;
}
header .inner {
  width: 1170px;
  margin: 0 auto;
}
header .title {
  display: inline-block;
}
header .title .logo {
  display: inline-block;
  font-size: 36px;
  color: #d06868;
  font-weight: bold;
}
header .title .name {
  font-size: 16px;
  color: #262525;
  font-weight: bold;
  margin-left: 8px;
}
header .user {
  display: inline-block;
  float: right;
}
header .user .username {
  color: #262525;
  margin-right: 20px;
}
header .user .username:hover {
  text-decoration: none;
}
header .user .logout {
  color: #12a3ee;
}
header .user .logout:hover {
  text-decoration: underline;
}
.container {
  width: 1170px;
  border: 1px solid #e5e5e5;
  padding: 0;
  position: relative;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.container:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.container .sidebar {
  width: 210px;
  background: #fff;
  height: 100%;
  border-right: 1px solid #e5e5e5;
  position: absolute;
  left: 0;
}
.container .sidebar .nav {
  margin-top: 35px;
}
.container .sidebar .nav li {
  width: 100%;
  height: 38px;
}
.container .sidebar .nav li.active {
  border-left: 4px solid #4285f4;
  cursor: pointer;
}
.container .sidebar .nav li.active a {
  background: #fafbfc;
  color: #4285f4;
}
.container .sidebar .nav li a {
  border-radius: 0;
  text-indent: 20px;
  margin: 0;
  color: #5a626d;
}
.container .sidebar .nav li a:hover {
  background: #fff;
}
.container .main {
  background: #fff;
  margin-left: 210px;
}
.container .main:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.container .main:after {
  content: " ";
  display: block;
  clear: both;
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.magnifier {
  width: 231px;
  height: 223px;
  border: 1px solid #e7e7eb;
  padding: 4px 0;
  position: absolute;
  top: 0;
  left: 100%;
  text-align: center;
  background: #fff;
}
.magnifier img {
  height: 100%;
  width: 100%;
}
.icon-sort {
  display: inline-block;
  width: 9px;
  height: 14px;
  -webkit-background-size: contain;
  background-size: contain;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  background: rgba(0, 0, 0, 0) url("../images/sort_icon.png") no-repeat 0 0;
  margin-left: 4px;
  vertical-align: middle;
}
.main > h2 {
  font-size: 16px;
  padding: 30px 30px 15px;
  border-bottom: 1px solid #e7e7eb;
}
.wrapper {
  padding: 20px 28px;
}
.wrapper .section.productlist table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid #e7e7eb;
}
.wrapper .section.productlist table thead {
  background: #fafbfc;
  font-weight: bold;
  border: 1px solid #e7e7eb;
}
.wrapper .section.productlist table thead tr {
  height: 46px;
}
.wrapper .section.productlist table thead .sort {
  cursor: pointer;
}
.wrapper .section.productlist table tr td:first-child {
  padding-left: 17px;
}
.wrapper .section.productlist table tbody {
  color: #212121;
}
.wrapper .section.productlist table tbody tr {
  height: 78px;
  border-bottom: 1px solid #e7e7eb;
}
.wrapper .section.productlist table tbody tr:last-child {
  border-bottom: none;
}
.wrapper .section.productlist table tbody tr td {
  padding: 15px 0;
  vertical-align: top;
}
.wrapper .section.productlist table tbody tr .name-column p {
  width: 230px;
}
.wrapper .section.productlist table .img-box {
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  position: relative;
  border: 1px solid #e7e7eb;
  text-align: center;
  cursor: pointer;
}
.wrapper .section.productlist table .img-box img {
  width: auto;
  height: 100%;
}
.wrapper .section.productlist table .bk-name .name {
  color: #212121;
  margin-bottom: 10px;
}
.wrapper .section.productlist table .edit,
.wrapper .section.productlist table .delete {
  color: #4285f4;
}
.wrapper .section.productlist table .edit {
  margin-right: 9px;
}
.newpic {
  display: inline-block;
  width: 50px;
  height: 50px;
  color: #d9dadc;
  border: 1px dashed #d9dadc;
  text-align: center;
  line-height: 50px;
  position: relative;
  cursor: pointer;
}
.newpic:hover {
  border-color: #a9a9a9;
  color: #a9a9a9;
}
