doctype
html
  head
    meta(charset="utf-8")
    title SHOPIN
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet",href="/style/bootstrap.min.css")
    link(rel="stylesheet",href="/style/font-awesome.min.css")
    link(rel="stylesheet",href="/style/admin.css")
  body
    header
      .inner
        .title
          .logo SHOPIN
          span.name 后台管理系统
        .user
          a.username(href="javascrip:;") #{user.name}
          a.logout(href="/logout") 退出
    .container
      .sidebar
        ul.nav
          li.active#index
            a(href="/admin") 商品管理
          li#list
            a(href="/admin/user/list") 用户列表
          li#category
            a(href="/admin/category") 商品分类
      .main
        block content
    include ./includes/admin-footer
    script.
      $(function(){
        var url = window.location.pathname;
        if(url.indexOf('list')>0){
          $('.nav #list').addClass('active').siblings('li').removeClass('active');
        }else if(url.indexOf('category') > 0){
          $('.nav #category').addClass('active').siblings('li').removeClass('active');
        }else{
          $('.nav #index').addClass('active').siblings('li').removeClass('li');
        }
      })
    block scripts