doctype
html
  head
    meta(charset="utf-8")
    title SHOPIN
    meta(name="viewport",content="width=device-width,initial-scale=1.0")
    link(rel="stylesheet",href="/style/bootstrap.min.css")
    link(rel="stylesheet",href="/style/font-awesome.min.css")
    link(rel="stylesheet",href="/style/admin.css")
  body
    header
      .inner
        .title
          .logo SHOPIN
          span.name 后台管理系统
        .user
          a.username(href="javascrip:;") #{user.name}
          a.logout(href="#") 退出
    .container
      .sidebar
        ul.nav
          li.active
            a(href="/admin") 商品管理
          li
            a(href="/admin/userlist") 用户列表
      .main
        block content
    include ./includes/admin-footer
    block scripts