extends ../../layout

block content
  .page.order_list
    header.head-block.bar.bar-nav.header
      a.arr(href="/user/home")
        i.fa.fa-angle-left
      h1.title 收货成功
    .content.native-scroll.wrapper
      p
        | 收货成功
        a(href='/user/home') 点击会首页