extends ../../layout

block content
  .page.create_order
    header.bar.bar-nav.header
      a.arr(href="/order")
        i.fa.fa-angle-left
      h1.title 支付订单
    .content.native-scroll
      .section
        p 订单金额
        em ￥#{order.total+order.express}
      a.pay#j-pay(href="",data-id="#{order._id}") 去支付

block scripts
  script.
    $(function(){
      var param_get_js_config = {'cmd':'get_js_config','url':'http://bestyxie.cn/test'};  
      hander_data_from_wechat_api(param_get_js_config,hander_js_config);
      //- function onBridgeReady(){
      //-   WeixinJSBridge.invoke(
      //-     "getBrandWCPayRequest",
      //-     {
      //-       "appId": "wxe751fb0e3060d859",
      //-       "timeStamp": Date.now(),
      //-       "nonceStr": "xxxx",
      //-       "package": "prepay_id=xxxx",
      //-       "signType": "MD5",
      //-       "paySign": 'xxxxx'
      //-     },
      //-     function(res){
      //-       if(res.err_msg == 'get_brand_wcpay_request：ok'){
      //-       //- 使用以上方式判断前端返回,微信团队郑重提示：
      //-       //- res.err_msg将在用户支付成功后返回 ok，但并不保证它绝对可靠。
      //-       }
      //-     }
      //-   );
      //- }
      //- if(typeof WeixinJSBridge == 'undefined'){
      //-   $(document).on('WeixinJSBridgeReady',onBridgeReady,false);
      //- }else{
      //-   onBridgeReady()
      //- }

      $('#j-pay').on('click',function(e){
        $(this).html('正在提交订单...');
        var data = {};
        data.attach = '';
        data.body = 'SHOPIN-服装';
        data.notify_url = 'http://bestyxie.cn/pay/complete';
        data.out_trade_no = #{order._id};
        data.total_fee = #{order.total+order.express};
        $.post('/getsign',data,function(result){
          console.log(result);
        })
      })

    })
    function hander_js_config(data){
      wx.config(data);
      wx.ready(function(){
        wx.checkJsApi({
          jsApiList: ['onMenuShareTimeline','chooseWXPay'],
          success: function(res){
            console.log('checkJsApi'+JSON.stringify(res));
          }
        })
      });
      wx.onMenuShareTimeline({
        title: '分享的标题',
        link: 'www.baidu.com',//分享链接
        imgUrl: '',//分享图片
        success: function(res) {
          console.log(res);
        },
        cancel: function(res){
          console.log(res);
        }
      });
      wx.error(function(res){
        console.log('error:'+JSON.stringify(res));
      });
    }
    function hander_data_from_wechat_api(param,fn){
      //发送请求获取wx_js_config
      $.ajax({
        url: 'http://bestyxie.cn/wechat',
        type: 'POST',
        data: param,
        datatype: 'json',
        success: function(data){
          fn(data);
        }
      })
    }