extends ../../layout

block content
  .page.pay_complete
    header.head-block.bar.bar-nav.header
      a.arr(href="javascript:history.back();")
        i.fa.fa-angle-left
      h1.title 付款成功
    .content.native-scroll.wrapper
      p 付款成功
        a(href="/") 浏览其他商品