extends ../../layout

block content
  .page.order_list
    header.head-block.bar.bar-nav.header
      a.arr(href="/")
        i.fa.fa-angle-left
      h1.title 确认收货
    .content.native-scroll.wrapper(style="padding-top: 3rem;")
      p 订单已完成
        a(href="/evaluate/evaluate?_id=#{_id}",style='color: blue;') 去评价