extends ../../layout

block content
  .page.order_list.returns
    header.head-block.bar.bar-nav.header
      a.arr(href="/")
        i.fa.fa-angle-left
      h1.title 申请成功
    .content.native-scroll.wrapper
      .section
        p #{p}