.popup-address .address.default .default-label {
  display: inline;
}
.popup-address .default-label {
  display: none;
  color: #fff;
  font-size: 0.6rem;
  padding: 0.1rem 0.2rem;
  border-radius: 3px;
  background: #fe406e;
}
.popup-address .edit_default {
  height: 1rem;
  padding: 0.5rem;
  box-sizing: content-box;
  border-top: 1px solid #e6e6e6;
  margin-bottom: 0.5rem;
}
.popup-address .header.bar.bar-nav {
  background: #fff;
}
.popup-address .footer {
  width: 100%;
  position: absolute;
  bottom: 0;
  border-top: 1px solid #ccc;
  height: 2rem;
  background: #fff;
}
.popup-address .footer .new_address {
  color: #fff;
  text-align: center;
  display: block;
  width: 6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  border-radius: 0.75rem;
  background: #fe406e;
  margin: 0.25rem auto 0;
}
.popup-new,
.popup-address {
  background: #f5f5f5;
}
.popup-new .header .title,
.popup-address .header .title {
  margin: auto;
  position: static;
}
.popup-new .content-block,
.popup-address .content-block {
  padding: 0;
  margin: 2.1rem 0;
}
.popup-new .title_right,
.popup-address .title_right {
  font-size: 0.7rem;
  width: 2rem;
  line-height: 2rem;
  margin-right: 0.5rem;
}
.popup-new .delete-btn {
  width: 6rem;
  height: 1.5rem;
  line-height: 1.5rem;
  text-align: center;
  background: #fff;
  border-radius: 0.75rem;
  border: 1px solid #e5e5e5;
  margin: 1rem auto;
}
